@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100vw;  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1047px;
} 

#tudo {
  display: flex;
  height: 90%;
  width: 90%;
  padding: 0px 20px 0px 20px
}

.titulo {
  color: white;
  font-size: 25px;
  border: solid #6B9AC4 5px;
  border-bottom: none;
  width: 70%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background: linear-gradient(to right, #6B9AC4, #354C60);
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  padding: 10px;
}

.conteudo {
  color: #405468;
  font-size: 25px;
  width: 70%;
  border: solid  #6B9AC4 5px ;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius : 40px;
  text-align: justify;
  background-color: white;
  position: relative;
}

#esquerda{
  display: flex;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.direita{
  width: 50%;
  display: flex;
  justify-content: center;
}


.chatia {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  .conteudo,
  .titulo {
    width: 100%;
  }
  
  .conteudo {
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
  }

  form {

    width: 100%;
    display: flex;
    justify-content: space-around;

    .mensagem{
      border: solid #6B9AC4 3px;
      border-radius: 15px;
      background-color: #D9D9D9;
      width: 80%;
      font-size: 20px;
      padding-left: 10px;
      padding: 0.5rem; 
    }
    
    button {
      border: solid #6B9AC4 3px;
      border-radius: 15px;
      background-color: #D9D9D9;
      width: 10%;
      padding-left: 10px;
      padding:0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .icon{
      width: 40px;
      height: auto;
      fill: #6B9AC4;
    }
  }
}

.chatia .conteudo {
  align-items: end;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.card{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .conteudo, .titulo{
    width: 100%;
  }
  
  .titulo{
    padding: 1rem;
  }
  
  .conteudo{
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
  }

  &.card_sugestao_horas{
    height: 48%;
  }

  &.card_sugestao_atividade{
    height: 48%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #354C60;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #354C60;
}

.mensagens{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  overflow-y: auto;
  justify-self: center;

}

.mensagem{
  border: solid #354C60 2px;
  border-radius: 20px;
  padding: 10px;
  align-self: flex-end;
  display: flex;

}

.chat {
  border-bottom-left-radius: 0px;
  align-self: flex-start;
}

.usuario {
  border-bottom-right-radius: 0px;
  align-self: flex-end;
}

.placeholder {
  
  color: #777;
  text-align: center;
  margin: 18px auto;
  font-style: italic;
  padding: 0 12px;
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 95%;
  
}

.mensagem-input {
  border: solid #6B9AC4 3px;
  border-radius: 15px;
  background-color: #D9D9D9;
  width: 80%;
  font-size: 20px;
  padding-left: 10px;
  padding: 0.5rem;
}

input:disabled, button:disabled {
  cursor: not-allowed !important;
  filter: brightness(0.5);
}

@media screen and (max-width: 1560px) {
  aside#barra-lateral {
        transform: translateX(-100%);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9990;
        transition: transform 300ms ease;
    }
}

aside#barra-lateral.show {
    transform: translateX(0%);
}

