*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

main#configuracoes {
    width: 100vw;
    height: 100vh;
    min-width: 550px;
    min-height: 553px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;

    #title-config {
        text-align: center;
        padding: 50px 0px 0px 0px;
    }

    section {
        display: flex;
        flex-direction: column;
        width: 80%;
        min-width: 500px;
        height:75%;
        background-color: white;
        border-radius: 40px;
        padding: 30px;

        #perfil-title {
            font-weight: normal;
            padding-bottom: 5px;
            font-size: 1.5rem;
        }

        #infos {
            display: flex;
            flex-direction: column;
            padding: 10px;   
            border-top: solid 1px;
            gap: 10px;
            font-size: 1.2rem;

            dd {
                display: flex;
                gap:5px
            }

            img {
                width:25px;
                height: auto;
                cursor: pointer;
            } 
        }

        .informacoes {
            display: flex;
            justify-content: space-between;
            padding-top: 10px; 
        }

        .informacoes button {
            border: none;
            background: none;
            cursor: pointer;
            font-size: 1rem;
            transition: opacity 0.4s;
        }
        
        #editar-informacoes {
            text-align: center;
            border-bottom: solid 1px;
            padding: 5px 0px 15px 0px
        }

        #editar-informacoes button {
            border: none;
            background: none;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: bold;
            transition: opacity 0.4s;
        }

        #editar-informacoes button:hover {
            opacity: 0.5;
        }

        #logout {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-top: 20px;
            padding-right: 20px;
            font-size: 1.2rem;
            font-weight: bold;
            width: 100%;
            justify-content: end;

            #icon-logout {
                display: flex;
                width: 30px;
                transition: opacity 0.4s;
            }

            #icon-logout:hover {
              opacity: 0.5;
        }
        }
    }
}

aside {
    transition: transform 0.5 ease;
}

@media screen and (max-width: 992px) {
  aside#barra-lateral {
        transform: translateX(-100%);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9990;
        transition: transform 300ms ease;
    }
}

aside#barra-lateral.show {
    transform: translateX(0%);
    height: 100vh;                
    overflow-y: auto;             
    -webkit-overflow-scrolling: touch;
}

#botao{
  border-bottom: solid 1px white;
  padding-bottom: 10px;

    a{
    font-weight: bolder ;
  }
}

::-webkit-scrollbar {
  width: 0px;
}