* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  background-color: #dde3f9;
}

aside#barra-lateral {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-width: 300px;
  min-height: 100vh;
  background-color: #6b9ac4;
  font-size: 1.3rem;
  transition: transform 0.3s ease;
}

.logo-fixed {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10001;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.logo-fixed img {
  width: 80px;
  height: auto;
}

#logo_e_user {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#user {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 10px;
  padding-top: 140px;
}

#user-image {
  width: 60px;
  height: auto;
  background-color: #eff2f1;
  border-radius: 50px;
  padding: 10px;
  background-color: white;
  box-sizing: unset;
}

.button-navegation {
  color: white;
  transition: opacity 0.4s;
}

.button-navegation:hover {
  opacity: 0.5;
}

#navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 100px 0px 0px 0px;
}

#suporte {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  gap: 10px;
  text-decoration: none;
  color: white;
  padding-bottom: 70px;
}

#suporte a {
  color: white;
  transition: opacity 0.4s;
}

#suporte a:hover {
  opacity: 0.5;
}
