* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #eff2f1;
  display: flex;

}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
#faq{
  border: solid #6b9ac4 5px;
  width: 65vw;
  height: 75vh;
  border-radius: 40px;  
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding-top: 25px;
  padding-bottom: 25px;
}

.pergunta{
  border:solid #6b9ac4 4px;
  width: 80%;
  border-radius: 40px;
  background-color: #d9d9d9;
  display: flex;
 
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  height: fit-content;
  padding: 30px;

  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .wrap.maior {
<<<<<<< HEAD
  img {
=======
    img {
>>>>>>> 64f97653a5df7cc056068bdc460ca9b7b388a8da
      transform:rotate(180deg);
    }
  }
  
  p{
      font-size: 20pt;
      font-family: Arial, Helvetica, sans-serif;
      color: #6b9ac4;
  }
}

.wrap.maior ~ .resposta  {
  img {
      transform:rotate(0deg);
    }
  height: fit-content;
  display: block;
}

.resposta{
  height: 0px;
  display: none;
  overflow: hidden;
  font-size: 25px;
  margin-top: 15px;
  padding: 10px;
  
}


.botao{
  background-color: transparent;
  border: none;
  transition: 0.4s;
  cursor: pointer;
}


.scroll {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 27px;
  overflow: auto; 
}

