* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  min-width: 1023px;
  min-height: 750px;
}
#faq {
  border: solid #6b9ac4 5px;
  min-width: 800px;
  width: 65vw;
  height: 75vh;
  border-radius: 40px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding-top: 25px;
  padding-bottom: 25px;
}

.pergunta {
  border: solid #6b9ac4 4px;
  width: 80%;
  border-radius: 40px;
  background-color: #adc9e4;
  display: flex;
  

  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  height: fit-content;

  padding: 30px;

  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .wrap.maior {
    img {
      transform: rotate(180deg);
    }
  }

  p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #475867;
  }
}

.wrap.maior ~ .resposta {
  height: fit-content;
  display: block;
}

.resposta {
  height: 0px;
  display: none;
  overflow: hidden;
  font-size: 25px;
  margin-top: 15px;
  padding: 10px;

  p {
    color: black;

  }
}

.botao {
  background-color: transparent;
  border: none;
  transition: 0.4s;
  cursor: pointer;
}

.scroll {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 27px;
  overflow: auto;
}
.email-link {
  color: #0b66c3;
  text-decoration: underline;
  cursor: pointer;
}

.email-link:hover {
  color: #084b9f;
}

.titulo {
  font-size: 30pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #6b9ac4;
  padding-bottom: 15px;
}

#titulo-email {
  font-size: 20pt;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  color: #436381;
}

@media screen and (max-width: 1275px) {
  aside#barra-lateral {
    transform: translateX(-100%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9990;
    transition: transform 300ms ease;
  }
}

aside#barra-lateral.show {
  transform: translateX(0%);
  height: 100vh;                
  overflow-y: auto;             
  -webkit-overflow-scrolling: touch;
}

#suporte{
  border-bottom: solid 1px white;
  padding-bottom: 10px;

    a{
    font-weight: bolder ;
  }
}

::-webkit-scrollbar {
  width: 0px;
}