* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    background-color: #EFF2F1;
}

.itens-direita {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Titulo-sobre-dia {
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 30px;
}

.bloco-grafico {
    width: 900px;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mostrar-grafico {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

#graficoPizza {
    width: 350px;
    height: 350px;
    margin-left: 100px;
}

.aviso {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao-aviso {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.aviso p{
    font-weight: 700;
}