* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  background-color: #eff2f1;
}

.coisas-direita {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  min-width: 1300px;
  min-height: 730px;
}

.bloco-grafico {
  background-color: white;
  border-radius: 40px;
  height: 650px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloco-barra {
  background-color: white;
  border-radius: 40px;
  height: 650px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mostrar-grafico {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

#graficoPizza {
  width: 420px;
}

.texto-sintomas {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.titulo-sintomas {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
}

.sintomas-causas{
  font-size: 20.5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.explicacao-sintomas {
  text-align: center;
  margin-top: 15px;
  font-size: 20.5px;
  width: 600px;

}

h2 {
  margin-bottom: 15px;
  color: black;
  font-size: 22px;
}

.bar-container {
  width: 300px;
  height: 20px;
  background-color: #2b2b2b;
  border-radius: 15px;
  overflow: hidden;
  border: solid 1px;
}

.bar-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #4caf50 0%, #ffeb3b 60%, #ff9800 100%);
  border-radius: 15px 0 0 15px;
  transition: width 0.1s linear;
}

.value-text {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.status-text {
  margin-top: 5px;
  font-size: 1.1rem;
  color: black;
}

.mostrar-barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin-top: 45px;
}

#explicacao-indice {
  width: 450px;
  height: 60px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.sugestoes{
  margin-top: 20px;
  width: 400px;
  font-size: 18px;
  text-align: center;

}

#sugestao{
    margin-bottom: 10px;
}

.motivacional-texto {
  margin-bottom: 20px;
  font-style: italic;
  color: #000000;
  font-size: 20px;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 1.5s ease;
  text-align: center;
  padding: 0 10px;
}

.motivacional-texto.show {
  opacity: 1;
}

.frase-motivadora{
  margin-top: 30px;
  border-radius: 40px;
  width: 400px;
  background-color: #dee2e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

  h2{
    margin-bottom: 6px;
    margin-top: 20px;
    font-size: 21px;
  }
}

#botao{
  border-bottom: solid 1px white;
  padding-bottom: 10px;
  
  a{
    font-weight: bolder ;
  }
} 

@media screen and (max-width: 1610px) {
  aside#barra-lateral {
        transform: translateX(-100%);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9990;
        transition: transform 300ms ease;
    }
}

aside#barra-lateral.show {
    transform: translateX(0%);
    height: 100vh;                
    overflow-y: auto;             
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
}