
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #6b9ac4;
  justify-content: center;
  align-items: center;
  font-family: arial;
}

#back-arrow {
  width: 30px;
  height: auto;
  position: absolute; 
  top: 30px;   
  left: 30px; 
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.4s;
}

#back-arrow:hover {
  opacity: 0.7;
}

.carregando {
  color: #38536b;
  cursor: not-allowed;
  svg {
    width: 20px;
    fill: #FFF;
    animation: girar 5s ease infinite;
  }
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bloco-cadastro {
  position: relative;
  display: flex;
  background-color: #eff2f1;
  width: 493px;
  height: 620px;
  border-radius: 40px;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  
  h1{
    margin-bottom: 40px;
  }
}

input.escrever-informacoes {
  width: 375px;
  max-width: 400px;
  height: 55px;
  border: solid black 1px;
  border-radius: 20px;
  background-color: #d9d9d9;
  font-size: 16px;
  padding-left: 22px; 
}

input::placeholder {
  color: black;
}


.espaco-caixas-texto {
  width: 375px;
  height: 33px;
}

.espaco-botao-criar {
  width: 375px;
  height: 50px;
}

.botao-criar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 55px;
  border: solid 1px;
  border-radius: 20px;
  background-color: #6b9ac4;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.botao-criar:hover {
  background: #38536b;
}

.senha {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%; 
    input {
      padding-right: 44px;
    }
    .olho {
      position: absolute;
      right: 70px;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;      
      height: auto;
      cursor: pointer;
      z-index: 5;
      user-select: none;
      pointer-events: auto;
    }
  }