* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    background-color: #EFF2F1;
}

.coisas-direita{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.bloco-grafico{
    background-color: white;
    border-radius: 40px;
    height: 600px;
    width: 700px;

}

.bloco-barra{
    background-color: white;
    border-radius: 40px;
    height: 600px;
    width: 500px;
}

.mostrar-grafico{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

#graficoPizza{
    width: 400px;
}

.texto-sintomas{
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titulo-sintomas{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.explicacao-sintomas{
    
}