* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #6b9ac4;
  justify-content: center;
  align-items: center;
  font-family: arial;
}

#back-arrow {
  width: 30px;
  height: auto;
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.4s;
}

#back-arrow:hover {
  opacity: 0.7;
}

input::placeholder {
  color: black;
  font-family: arial;
  font-size: 16px;
}

input {
  font-size: 16px;
  padding-left: 22px;
}

.bloco-login {
  position: relative;
  background-color: #eff2f1;
  width: 493px;
  height: 620px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;

  h1 {
    padding-bottom: 40px;
  }
}

.botao-inserir-email {
  border-radius: 20px;
  width: 100%;
  height: 55px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
}

.botao-inserir-email p {
  font-size: 16px;
  padding-left: 22px;
}

.espaco-email-senha {
  width: 371px;
  height: 33px;
}

.botao-inserir-senha {
  border-radius: 20px;
  background-color: #d9d9d9;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}

.espaco-senha-entrar {
  width: 374px;
  height: 69px;
}

.botao-entrar {
  border: none black 1px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  background-color: #6b9ac4;
  width: 374px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.espaco-entrar-cadastrar {
  width: 374px;
  height: 28px;
}

.botao-cadastrar {
  color: #3294d0;
}

.senha {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  input {
    padding-right: 44px;
  }
  .olho {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: auto;
    cursor: pointer;
    z-index: 5;
    user-select: none;
    pointer-events: auto;
  }
}
