* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  background-color: #eff2f1;
}

.coisas-direita {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.bloco-grafico {
  background-color: white;
  border-radius: 40px;
  height: 600px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloco-barra {
  background-color: white;
  border-radius: 40px;
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mostrar-grafico {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

#graficoPizza {
  width: 400px;
}

.texto-sintomas {
  width: 600px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.titulo-sintomas {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.explicacao-sintomas {
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  color: black;
  font-size: 20px;
}

.bar-container {
  width: 250px;
  height: 20px;
  background-color: #2b2b2b;
  border-radius: 15px;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #4caf50 0%, #ffeb3b 60%, #ff9800 100%);
  border-radius: 15px 0 0 15px;
  transition: width 0.1s linear;
}

.value-text {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.status-text {
  margin-top: 5px;
  font-size: 1.1rem;
  color: black;
}

.mostrar-barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-top: 50px;
}

.explicacao-indice {
  border: solid 1px;
  width: 300px;
  height: 80px;
}
